<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head') %>
</head>

<body>

  <%- include('partials/nav') %>

  <section>
    <h1>Login</h1>
    <% if (messages.error) {%>
      <%= messages.error %>
    <% } %>  
    <form action="/login" method="POST">
      <label>
        Email
        <input type="email" name="email" />
      </label>
      <label>
        Password
        <input type="password" name="password" />
      </label>
      <button type="submit">Login</button>
    </form>
  </section>

  <%- include('partials/footer') %>

</body>

</html>




